<div class="container">
  <h1> Transfer Credits From {{ wallet.walletId }} </h1>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="ownerName"> Owner Name </label>
      <p> {{ wallet.ownerName }} </p>
    </div>
    <div class="form-group">
        <label for="balance"> Balance </label>
        <p> {{ wallet.balance  | currency:"PHP":"symbol" }} </p>
      </div>
    <div class="form-group">
      <label for="to"> Transfer To </label>
      <input type="text" id="to" class="form-control" formControlName="to"/>
    </div>
    <div class="form-group">
      <label for="amount"> Amount </label>
      <input type="text" id="amount" class="form-control" formControlName="amount"/>
    </div>
    <div class="form-group">
      <div class="pull-right">
        <button class="btn btn-default" (click)="cancel()"> Cancel </button> &nbsp;
        <button class="btn btn-success" (click)="transfer()"> Transfer </button>
      </div>
    </div>
  </form>
</div>
      