<div class="login-form">
  <form (ngSubmit)="login()" [formGroup]="form">
    <h2 class="text-center">Log in</h2>       
    <div class="form-group">
      <input type="text" formControlName="username" class="form-control" placeholder="Username" required="required">
    </div>
    <div class="form-group">
      <input type="password" formControlName="password" class="form-control" placeholder="Password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </div>
  </form>
</div>