<div class="container">
  <h1> {{ wallet.ownerName }}'s Wallet</h1>
  <dl class="row">
    <dt class="col-sm-3"> Wallet ID </dt>
    <dd class="col-sm-9"> {{ wallet.walletId }}</dd>

    <dt class="col-sm-3"> Date Created </dt>
    <dd class="col-sm-9"> {{ wallet.created }}</dd>

    <dt class="col-sm-3"> Last Updated </dt>
    <dd class="col-sm-9"> {{ wallet.updated }}</dd>

    <dt class="col-sm-3"> Owner Name </dt>
    <dd class="col-sm-9"> {{ wallet.ownerName }}</dd>

    <dt class="col-sm-3"> Balance </dt>
    <dd class="col-sm-9"> {{ wallet.balance | currency:"PHP":"symbol" }}</dd>
  </dl>

  <h2> Transaction History </h2>
  <table class="table">
    <thead>
      <tr>
        <th>
          From
        </th>
        <th>
          To
        </th>
        <th>
          Amount
        </th>
        <th>
          Transaction Type
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trx of wallet.transactions">
        <td> {{ trx.from?.ownerName }} </td>
        <td> {{ trx.to?.ownerName }} </td>
        <td> {{ trx.amount | currency:"PHP":"symbol" }}</td>
        <td *ngIf="trx.from"> Transfer </td>
        <td *ngIf="!trx.from"> Top Up </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group">
    <div class="pull-right">
        <button class="btn btn-default" (click)="back()"> Back </button> &nbsp;
      <button class="btn btn-primary" (click)="topUp()"> Top Up </button> &nbsp;
      <button class="btn btn-info" (click)="transfer()"> Transfer </button>
    </div>
  </div>
</div>
  
  
   