<div class="container">
  <h1> Available Wallets </h1>
  <div class="form-group pull-right">
    <button class="form-control primary" (click)="create()"> Create New Wallet </button>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>
          Wallet #
        </th>
        <th>
          Owner Name
        </th>
        <th>
          Balance
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wallet of list" (click)="view(wallet.id)">
        <td>{{ wallet.walletId }}</td>
        <td>{{ wallet.ownerName }}</td>
        <td>{{ wallet.balance | currency:"PHP":"symbol" }}</td>
      </tr>
    </tbody>
  </table>
</div>


 