<div class="container">
  <h1> Create New Wallet  </h1>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="ownerName"> Owner Name </label>
      <input type="text" id="ownerName" class="form-control" name="ownerName" formControlName="ownerName"/>
    </div>
    <div class="form-group">
      <div class="pull-right">
        <button class="btn btn-default" (click)="cancel()"> Cancel </button> &nbsp;
        <button class="btn btn-success" (click)="create()"> Create </button>
      </div>
    </div>
  </form>
</div>
    